.button-group {
  @include flexwrap();
  margin: 1em 0;
}

.button {
  background-color: #10607B;
  margin: 0 auto;
  padding: 10px 5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 7.5px #000;

  &:active {
    box-shadow: none;
  }
}

.manip-button {
  @extend .button;
  color: #A78E87;
}

.calc-button {
  @extend .button;
  color: #C3A799;
}