/*
      This is purely for illustrative purposes to show knowledge of Sassy CSS.
      In a real React app, I'd add create a styles object for each styled component and
      style each component inline, as is recommended by Facebook for true component modularity.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  min-height: 100vh; }

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #6D8E9F; }
  body > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center; }

.input-label {
  margin-right: 0.4em; }

.app {
  font: 100% "lucida grande", serif; }
  .app h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em 0; }
  .app strong {
    display: block;
    margin-bottom: 0.75em; }

.button-group {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em 0; }

.button, .manip-button, .calc-button {
  background-color: #10607B;
  margin: 0 auto;
  padding: 10px 5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 7.5px #000; }
  .button:active, .manip-button:active, .calc-button:active {
    box-shadow: none; }

.manip-button {
  color: #A78E87; }

.calc-button {
  color: #C3A799; }
