/*
      This is purely for illustrative purposes to show knowledge of Sassy CSS.
      In a real React app, I'd add create a styles object for each styled component and
      style each component inline, as is recommended by Facebook for true component modularity.
*/

@import "reset";

$font-stack: "lucida grande", serif;

@mixin flexwrap($direction: false) {
  display: flex;

  @if $direction {
    flex-flow: $direction;
  }

  justify-content: center;
  align-content: center;
}

@mixin headings($size: false, $weight: false) {
  @if $size {
    font-size: $size;
  }

  @if $weight {
    font-weight: $weight;
  }
  
  margin: 1em 0;
}

html, body {
  min-height: 100vh;
}

body {
  @include flexwrap();
  background-color: #6D8E9F;

  > div {
    @include flexwrap(column);
  }
}

.input-label {
  margin-right: 0.4em;
}

.app {
  font: 100% $font-stack;

  h1 {
    @include headings(2.5em, bold);
  }

  strong {
    display: block;
    margin-bottom: 0.75em;
  }
}

@import "buttons";